.note {
  &--short {
    position: relative;
    $notePadding: 1.5rem;
    width: 30rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    // background-color: $note-background-color;
    background-color: var(--bg-color2);
    transition: background-color $transitionTheme;
    border-radius: 5px;
    padding: $notePadding 4rem $notePadding $notePadding;
    cursor: pointer;
  }
  &-remove {
    $iconWidth: 2rem;
    position: absolute;
    width: $iconWidth;
    height: $iconWidth;
    right: 1rem;
    top: 1rem;
    @include text;
  }
}
