.button {
  min-width: 10rem;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  @include button;
  border: 0;
  border-radius: 5px;
  &--success {
    background-color: green;
    color: #fff;
  }
  &--error {
    background-color: #b70707;
    color: #fff;
  }
}
