.sheet-chapter-left-enter-active {
  transition: $burgerSheetTransition;
  // transition: 10s;
  position: absolute;
  transform: translateX(-100%);
}

.sheet-chapter-left-enter-from {
  transform: translateX(-100%);
}

.sheet-chapter-left-enter-to {
  transform: translateX(0%);
}

.sheet-chapter-left-leave-from {
  transform: translateX(0);
}
.sheet-chapter-left-leave-active {
  transition: $burgerSheetTransition;
  // transition: 10s;
  position: relative;
}
.sheet-chapter-left-leave-to {
  transform: translateX(100%);
}

.sheet-chapter-right-enter-active {
  transition: $burgerSheetTransition;
  // transition: 10s;
  position: absolute;
  transform: translateX(100%);
}

.sheet-chapter-right-enter-from {
  transform: translateX(100%);
}

.sheet-chapter-right-enter-to {
  transform: translateX(0%);
}

.sheet-chapter-right-leavse-from {
  transform: translateX(0);
}
.sheet-chapter-right-leave-active {
  transition: $burgerSheetTransition;
  // transition: 10s;
  position: relative;
}
.sheet-chapter-right-leave-to {
  transform: translateX(-100%);
}
